<div class="portlet light bordered">
    <?php
    $step_value = $this->session->get('step_value');
    $step2 = $step_value['step2'];
    $length = sizeof($step2['product_partner']);
    $step1 = $step_value['step1'];
    $dataquotationitemrev = $var['dataquotationitemrev'];
    $file = $this->session->get('file_mo');  
    $length_item = sizeof($dataquotationitemrev);
    echo date('d-m-y');
    //print_r($file);   
    ?>   

    <?php echo $this->flash->output(); ?>
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="fa fa-bullhorn font-green-sharp"></i>
            <span class="caption-subject bold uppercase"> Quotation</span>
            <span class="caption-helper">create new quotation</span>
        </div>        
    </div>

    <div class="portlet-body form">
        <?php $this->partial('quotation/attribute/create/step'); ?>
        <form role="form" 
              method="post" 
              action="<?php echo $this->url->get('quotation/step_2/' . $var['parent_id']); ?>"
              class="horizontal-form form-campaign"
              id="form-quotation">
            <div class="form-body">
                <div class="row">	                    
                    <div class="col-md-9">
                        <?php
                        if ($length_item != 0) {
                            if ($length != 0) {
                                for ($i = 0; $i < $length; $i++) {
                                    ?>

                                    <div class="row-element" id="row-element-<?php echo $i; ?>">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-left col-md-9">
                                                        Product Partner
                                                        <span class="required-info">*</span>
                                                    </label>

                                                    <select id="product-partner-<?php echo $i; ?>" 
                                                            name="product_partner[]" 
                                                            class="form-control input-select2 product-partner" 
                                                            data-id="<?php echo $i; ?>"
                                                            >
                                                        <option value="0">--Choose Product Partner--</option>
                                                        <?php
                                                        if (sizeof($var['product_partner']) > 0) {
                                                            foreach ($var['product_partner'] as $data) {
                                                                ?>
                                                                <option value="<?php echo $data->pp_id; ?>"
                                                                <?php
                                                                echo $data->pp_id == $step2['product_partner'][$i] ? "selected='selected'" : "";
                                                                ;
                                                                ?>
                                                                        >
                                                                            <?php echo $data->product . " - " . $data->partner; ?>
                                                                </option>
                                                                <?php
                                                            }
                                                        }
                                                        ?>
                                                    </select>
                                                </div>
                                            </div>	
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Product Price <span class="required-info">*</span></label>
                                                            <div>
                                                                <input readonly="readonly" 
                                                                       type="text" 
                                                                       name="product_price[]" 
                                                                       id="product-price-<?php echo $i; ?>" 
                                                                       class="form-control input-sm" 
                                                                       placeholder="Product Price"
                                                                       value="<?php echo $step2['product_price'][$i]; ?>"
                                                                       >                                                      
                                                            </div>
                                                        </div>
                                                    </div>	
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Selling <span class="required-info">*</span></label>
                                                            <div>
                                                                <input readonly="readonly" 
                                                                       type="text" 
                                                                       name="product_selling[]" 
                                                                       id="product-selling-<?php echo $i; ?>" 
                                                                       class="form-control input-sm" 
                                                                       placeholder="Selling"
                                                                       value="<?php echo $step2['product_selling'][$i]; ?>"
                                                                       >                                                      
                                                            </div>
                                                        </div>
                                                    </div>	
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Discount <span class="required-info">*</span></label>
                                                            <div>
                                                                <input readonly="readonly" 
                                                                       type="text" 
                                                                       name="discount[]" 
                                                                       id="discount-<?php echo $i; ?>" 
                                                                       class="form-control input-sm" 
                                                                       placeholder="Discount"
                                                                       value="<?php echo $step2['discount'][$i]; ?>"
                                                                       >                                                      
                                                            </div>
                                                        </div>
                                                    </div>	


                                                </div>	
                                            </div>			       					
                                        </div>	

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Amount <span class="required-info">*</span></label>
                                                            <div>
                                                                <input type="text" 
                                                                       name="amount[]" 
                                                                       id="amount-<?php echo $i; ?>" 
                                                                       class="form-control input-sm" 
                                                                       placeholder="Amount"
                                                                       value="<?php echo $step2['amount'][$i]; ?>"
                                                                       >                                                      
                                                            </div>
                                                        </div>
                                                    </div>	
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Unit <span class="required-info">*</span></label>
                                                            <div>
                                                                <input type="text" 
                                                                       name="unit[]" 
                                                                       id="unit-<?php echo $i; ?>" 
                                                                       class="form-control input-sm" 
                                                                       placeholder="Unit"
                                                                       value="<?php echo $step2['unit'][$i]; ?>"
                                                                       >                                                      
                                                            </div>
                                                        </div>
                                                    </div>			       								
                                                </div>	
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Target <span class="required-info">*</span></label>
                                                    <div>
                                                        <input type="text" 
                                                               name="target[]" 
                                                               id="target-<?php echo $i; ?>" 
                                                               class="form-control input-sm" 
                                                               placeholder="Target"
                                                               value="<?php echo $step2['target'][$i]; ?>"
                                                               >                                                      
                                                    </div>
                                                </div>
                                            </div>		
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-left col-md-9">
                                                                Province
                                                                <span class="required-info">*</span>
                                                            </label>

                                                            <select id="province-<?php echo $i; ?>" 
                                                                    name="province[]" 
                                                                    class="form-control input-select2 province" 
                                                                    data-id="<?php echo $i; ?>"
                                                                    >
                                                                <option value="0">--Choose Province--</option>
                                                                <?php
                                                                if (sizeof($var['province']) > 0) {
                                                                    foreach ($var['province'] as $data) {
                                                                        ?>
                                                                        <option value="<?php echo $data->id; ?>" 
                                                                        <?php
                                                                        echo $data->id == $step2['province'][$i] ? "selected='selected'" : "";
                                                                        ;
                                                                        ?>
                                                                                >
                                                                                    <?php echo $data->province; ?>
                                                                        </option>		
                                                                        <?php
                                                                    }
                                                                }
                                                                ?>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-left col-md-9">
                                                                City
                                                                <span class="required-info">*</span>
                                                            </label>			                                    				 						

                                                            <select id="city-<?php echo $i; ?>" 
                                                                    name="city[]" 
                                                                    class="form-control input-select2">
                                                                <option value="">--Choose City--</option>
                                                                <?php
                                                                if (sizeof($var['city']) > 0) {
                                                                    foreach ($var['city'] as $data) {
                                                                        ?>
                                                                        <option value="<?php echo $data->id; ?>" 
                                                                        <?php
                                                                        echo $data->id == $step2['city'][$i] ? "selected='selected'" : "";
                                                                        ;
                                                                        ?>
                                                                                >
                                                                                    <?php echo $data->city; ?>
                                                                        </option>		
                                                                        <?php
                                                                    }
                                                                }
                                                                ?>
                                                            </select>

                                                        </div>
                                                    </div>		
                                                </div>		
                                            </div>	
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Area <span class="required-info">*</span></label>
                                                    <div>
                                                        <input type="text" 
                                                               name="area[]" 
                                                               id="area-<?php echo $i; ?>" 
                                                               class="form-control input-sm" 
                                                               placeholder="Area"
                                                               value="<?php echo $step2['area'][$i]; ?>"
                                                               >                                                      
                                                    </div>
                                                </div>	
                                            </div>			       					
                                        </div>	

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Start Date <span class="required-info">*</span></label>
                                                    <div>
                                                        <input type="text" 
                                                               name="start_date[]" 
                                                               id="start-date-<?php echo $i; ?>" 
                                                               class="form-control input-sm date-picker" 
                                                               placeholder="Start Date"
                                                               value="<?php echo $step2['start_date'][$i]; ?>"
                                                               >                                                      
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>End Date <span class="required-info">*</span></label>
                                                    <div>
                                                        <input type="text" 
                                                               name="end_date[]" 
                                                               id="end-date-<?php echo $i; ?>" 
                                                               class="form-control input-sm date-picker" 
                                                               placeholder="End Date"
                                                               value="<?php echo $step2['end_date'][$i]; ?>"
                                                               >                                                      
                                                    </div>
                                                </div>
                                            </div>		       					
                                        </div>		

                                        <div class="row">
                                            <div class="col-md-12 align-right">
                                                <a href="javascript:;" 
                                                   class="btn green-haze add-product" 
                                                   data-id="<?php echo $i; ?>">
                                                    <i class="fa fa-plus"></i> Product
                                                </a>
                                                <?php if ($i != 0) {
                                                    ?>
                                                    <a href="javascript:;" 
                                                       class="btn red remove-product" 
                                                       data-id="<?php echo $i; ?>">
                                                        <i class="fa fa-minus"></i> Product
                                                    </a>
                                                    <?php
                                                }
                                                ?>

                                            </div>	
                                        </div>	
                                    </div>

                                    <div id="add-row">

                                    </div>	

                                    <?php
                                }
                            } else {
                                for ($i = 0; $i < $length_item; $i++) {
                                    ?>

                                    <div class="row-element" id="row-element-<?php echo $i; ?>">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-left col-md-9">
                                                        Product Partner
                                                        <span class="required-info">*</span>
                                                    </label>

                                                    <select id="product-partner-<?php echo $i; ?>" 
                                                            name="product_partner[]" 
                                                            class="form-control input-select2 product-partner" 
                                                            data-id="<?php echo $i; ?>"
                                                            >
                                                        <option value="0">--Choose Product Partner--</option>
                                                        <?php
                                                        if (sizeof($var['product_partner']) > 0) {
                                                            foreach ($var['product_partner'] as $data) {
                                                                ?>
                                                                <option value="<?php echo $data->pp_id; ?>"
                                                                <?php
                                                                echo $data->pp_id == $dataquotationitemrev[$i]->pp_id ? "selected='selected'" : "";
                                                                ;
                                                                ?>
                                                                        >
                                                                            <?php echo $data->product . " - " . $data->partner; ?>
                                                                </option>
                                                                <?php
                                                            }
                                                        }
                                                        ?>
                                                    </select>
                                                </div>
                                            </div>	
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Product Price <span class="required-info">*</span></label>
                                                            <div>
                                                                <input readonly="readonly" 
                                                                       type="text" 
                                                                       name="product_price[]" 
                                                                       id="product-price-<?php echo $i; ?>" 
                                                                       class="form-control input-sm" 
                                                                       placeholder="Product Price"
                                                                       value="<?php echo $dataquotationitemrev[$i]->price; ?>"
                                                                       >                                                      
                                                            </div>
                                                        </div>
                                                    </div>	
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Selling <span class="required-info">*</span></label>
                                                            <div>
                                                                <input readonly="readonly" 
                                                                       type="text" 
                                                                       name="product_selling[]" 
                                                                       id="product-selling-<?php echo $i; ?>" 
                                                                       class="form-control input-sm" 
                                                                       placeholder="Selling"
                                                                       value="<?php //echo $dataquotationitemrev[$i]->sellingprice;  ?>"
                                                                       >                                                      
                                                            </div>
                                                        </div>
                                                    </div>	
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Discount <span class="required-info">*</span></label>
                                                            <div>
                                                                <input readonly="readonly" 
                                                                       type="text" 
                                                                       name="discount[]" 
                                                                       id="discount-<?php echo $i; ?>" 
                                                                       class="form-control input-sm" 
                                                                       placeholder="Discount"
                                                                       value="<?php echo $dataquotationitemrev[$i]->discount; ?>"
                                                                       >                                                      
                                                            </div>
                                                        </div>
                                                    </div>	


                                                </div>	
                                            </div>			       					
                                        </div>	

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Amount <span class="required-info">*</span></label>
                                                            <div>
                                                                <input type="text" 
                                                                       name="amount[]" 
                                                                       id="amount-<?php echo $i; ?>" 
                                                                       class="form-control input-sm" 
                                                                       placeholder="Amount"
                                                                       value="<?php echo $dataquotationitemrev[$i]->amount; ?>"
                                                                       >                                                      
                                                            </div>
                                                        </div>
                                                    </div>	
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Unit <span class="required-info">*</span></label>
                                                            <div>
                                                                <input type="text" 
                                                                       name="unit[]" 
                                                                       id="unit-<?php echo $i; ?>" 
                                                                       class="form-control input-sm" 
                                                                       placeholder="Unit"
                                                                       value="<?php echo $dataquotationitemrev[$i]->unit; ?>"
                                                                       >                                                      
                                                            </div>
                                                        </div>
                                                    </div>			       								
                                                </div>	
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Target <span class="required-info">*</span></label>
                                                    <div>
                                                        <input type="text" 
                                                               name="target[]" 
                                                               id="target-<?php echo $i; ?>" 
                                                               class="form-control input-sm" 
                                                               placeholder="Target"
                                                               value="<?php echo $dataquotationitemrev[$i]->target; ?>"
                                                               >                                                      
                                                    </div>
                                                </div>
                                            </div>		
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-left col-md-9">
                                                                Province
                                                                <span class="required-info">*</span>
                                                            </label>

                                                            <select id="province-<?php echo $i; ?>" 
                                                                    name="province[]" 
                                                                    class="form-control input-select2 province" 
                                                                    data-id="<?php echo $i; ?>"
                                                                    >
                                                                <option value="0">--Choose Province--</option>
                                                                <?php
                                                                if (sizeof($var['province']) > 0) {
                                                                    foreach ($var['province'] as $data) {
                                                                        ?>
                                                                        <option value="<?php echo $data->id; ?>" 
                                                                        <?php
                                                                        echo $data->id == $dataquotationitemrev[$i]->province ? "selected='selected'" : "";
                                                                        ;
                                                                        ?>
                                                                                >
                                                                                    <?php echo $data->province; ?>
                                                                        </option>		
                                                                        <?php
                                                                    }
                                                                }
                                                                ?>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-left col-md-9">
                                                                City
                                                                <span class="required-info">*</span>
                                                            </label>			                                    				 						

                                                            <select id="city-<?php echo $i; ?>" 
                                                                    name="city[]" 
                                                                    class="form-control input-select2">
                                                                <option value="">--Choose City--</option>
                                                                <?php
                                                                if (sizeof($var['city']) > 0) {
                                                                    foreach ($var['city'] as $data) {
                                                                        ?>
                                                                        <option value="<?php echo $data->id; ?>" 
                                                                        <?php
                                                                        echo $data->id == $dataquotationitemrev[$i]->city ? "selected='selected'" : "";
                                                                        ;
                                                                        ?>
                                                                                >
                                                                                    <?php echo $data->city; ?>
                                                                        </option>		
                                                                        <?php
                                                                    }
                                                                }
                                                                ?>
                                                            </select>

                                                        </div>
                                                    </div>		
                                                </div>		
                                            </div>	
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Area <span class="required-info">*</span></label>
                                                    <div>
                                                        <input type="text" 
                                                               name="area[]" 
                                                               id="area-<?php echo $i; ?>" 
                                                               class="form-control input-sm" 
                                                               placeholder="Area"
                                                               value="<?php echo $dataquotationitemrev[$i]->area; ?>"
                                                               >                                                      
                                                    </div>
                                                </div>	
                                            </div>			       					
                                        </div>	

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Start Date <span class="required-info">*</span></label>
                                                    <div>
                                                        <input type="text" 
                                                               name="start_date[]" 
                                                               id="start-date-<?php echo $i; ?>" 
                                                               class="form-control input-sm date-picker" 
                                                               placeholder="Start Date"
                                                               value="<?php echo $dataquotationitemrev[$i]->start_date; ?>"
                                                               >                                                      
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>End Date <span class="required-info">*</span></label>
                                                    <div>
                                                        <input type="text" 
                                                               name="end_date[]" 
                                                               id="end-date-<?php echo $i; ?>" 
                                                               class="form-control input-sm date-picker" 
                                                               placeholder="End Date"
                                                               value="<?php echo $dataquotationitemrev[$i]->end_date; ?>"
                                                               >                                                      
                                                    </div>
                                                </div>
                                            </div>		       					
                                        </div>		

                                        <div class="row">
                                            <div class="col-md-12 align-right">
                                                <a href="javascript:;" 
                                                   class="btn green-haze add-product" 
                                                   data-id="<?php echo $i; ?>">
                                                    <i class="fa fa-plus"></i> Product
                                                </a>
                                                <?php if ($i != 0) {
                                                    ?>
                                                    <a href="javascript:;" 
                                                       class="btn red remove-product" 
                                                       data-id="<?php echo $i; ?>">
                                                        <i class="fa fa-minus"></i> Product
                                                    </a>
                                                    <?php
                                                }
                                                ?>

                                            </div>	
                                        </div>	
                                    </div>

                                    <div id="add-row">

                                    </div>

                                    <?php
                                }
                            }
                        } else if ($length != 0) {
                            for ($i = 0; $i < $length; $i++) {
                                ?>

                                <div class="row-element" id="row-element-<?php echo $i; ?>">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-left col-md-9">
                                                    Product Partner
                                                    <span class="required-info">*</span>
                                                </label>

                                                <select id="product-partner-<?php echo $i; ?>" 
                                                        name="product_partner[]" 
                                                        class="form-control input-select2 product-partner" 
                                                        data-id="<?php echo $i; ?>"
                                                        >
                                                    <option value="0">--Choose Product Partner--</option>
                                                    <?php
                                                    if (sizeof($var['product_partner']) > 0) {
                                                        foreach ($var['product_partner'] as $data) {
                                                            ?>
                                                            <option value="<?php echo $data->pp_id; ?>"
                                                            <?php
                                                            echo $data->pp_id == $step2['product_partner'][$i] ? "selected='selected'" : "";
                                                            ;
                                                            ?>
                                                                    >
                                                                        <?php echo $data->product . " - " . $data->partner; ?>
                                                            </option>
                                                            <?php
                                                        }
                                                    }
                                                    ?>
                                                </select>
                                            </div>
                                        </div>	
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Product Price <span class="required-info">*</span></label>
                                                        <div>
                                                            <input readonly="readonly" 
                                                                   type="text" 
                                                                   name="product_price[]" 
                                                                   id="product-price-<?php echo $i; ?>" 
                                                                   class="form-control input-sm" 
                                                                   placeholder="Product Price"
                                                                   value="<?php echo $step2['product_price'][$i]; ?>"
                                                                   >                                                      
                                                        </div>
                                                    </div>
                                                </div>	
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Selling <span class="required-info">*</span></label>
                                                        <div>
                                                            <input readonly="readonly" 
                                                                   type="text" 
                                                                   name="product_selling[]" 
                                                                   id="product-selling-<?php echo $i; ?>" 
                                                                   class="form-control input-sm" 
                                                                   placeholder="Selling"
                                                                   value="<?php echo $step2['product_selling'][$i]; ?>"
                                                                   >                                                      
                                                        </div>
                                                    </div>
                                                </div>	
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Discount <span class="required-info">*</span></label>
                                                        <div>
                                                            <input readonly="readonly" 
                                                                   type="text" 
                                                                   name="discount[]" 
                                                                   id="discount-<?php echo $i; ?>" 
                                                                   class="form-control input-sm" 
                                                                   placeholder="Discount"
                                                                   value="<?php echo $step2['discount'][$i]; ?>"
                                                                   >                                                      
                                                        </div>
                                                    </div>
                                                </div>	


                                            </div>	
                                        </div>			       					
                                    </div>	

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Amount <span class="required-info">*</span></label>
                                                        <div>
                                                            <input type="text" 
                                                                   name="amount[]" 
                                                                   id="amount-<?php echo $i; ?>" 
                                                                   class="form-control input-sm" 
                                                                   placeholder="Amount"
                                                                   value="<?php echo $step2['amount'][$i]; ?>"
                                                                   >                                                      
                                                        </div>
                                                    </div>
                                                </div>	
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Unit <span class="required-info">*</span></label>
                                                        <div>
                                                            <input type="text" 
                                                                   name="unit[]" 
                                                                   id="unit-<?php echo $i; ?>" 
                                                                   class="form-control input-sm" 
                                                                   placeholder="Unit"
                                                                   value="<?php echo $step2['unit'][$i]; ?>"
                                                                   >                                                      
                                                        </div>
                                                    </div>
                                                </div>			       								
                                            </div>	
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Target <span class="required-info">*</span></label>
                                                <div>
                                                    <input type="text" 
                                                           name="target[]" 
                                                           id="target-<?php echo $i; ?>" 
                                                           class="form-control input-sm" 
                                                           placeholder="Target"
                                                           value="<?php echo $step2['target'][$i]; ?>"
                                                           >                                                      
                                                </div>
                                            </div>
                                        </div>		
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-left col-md-9">
                                                            Province
                                                            <span class="required-info">*</span>
                                                        </label>

                                                        <select id="province-<?php echo $i; ?>" 
                                                                name="province[]" 
                                                                class="form-control input-select2 province" 
                                                                data-id="<?php echo $i; ?>"
                                                                >
                                                            <option value="0">--Choose Province--</option>
                                                            <?php
                                                            if (sizeof($var['province']) > 0) {
                                                                foreach ($var['province'] as $data) {
                                                                    ?>
                                                                    <option value="<?php echo $data->id; ?>" 
                                                                    <?php
                                                                    echo $data->id == $step2['province'][$i] ? "selected='selected'" : "";
                                                                    ;
                                                                    ?>
                                                                            >
                                                                                <?php echo $data->province; ?>
                                                                    </option>		
                                                                    <?php
                                                                }
                                                            }
                                                            ?>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-left col-md-9">
                                                            City
                                                            <span class="required-info">*</span>
                                                        </label>			                                    				 						

                                                        <select id="city-<?php echo $i; ?>" 
                                                                name="city[]" 
                                                                class="form-control input-select2">
                                                            <option value="">--Choose City--</option>
                                                            <?php
                                                            if (sizeof($var['city']) > 0) {
                                                                foreach ($var['city'] as $data) {
                                                                    ?>
                                                                    <option value="<?php echo $data->id; ?>" 
                                                                    <?php
                                                                    echo $data->id == $step2['city'][$i] ? "selected='selected'" : "";
                                                                    ;
                                                                    ?>
                                                                            >
                                                                                <?php echo $data->city; ?>
                                                                    </option>		
                                                                    <?php
                                                                }
                                                            }
                                                            ?>
                                                        </select>

                                                    </div>
                                                </div>		
                                            </div>		
                                        </div>	
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Area <span class="required-info">*</span></label>
                                                <div>
                                                    <input type="text" 
                                                           name="area[]" 
                                                           id="area-<?php echo $i; ?>" 
                                                           class="form-control input-sm" 
                                                           placeholder="Area"
                                                           value="<?php echo $step2['area'][$i]; ?>"
                                                           >                                                      
                                                </div>
                                            </div>	
                                        </div>			       					
                                    </div>	

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Start Date <span class="required-info">*</span></label>
                                                <div>
                                                    <input type="text" 
                                                           name="start_date[]" 
                                                           id="start-date-<?php echo $i; ?>" 
                                                           class="form-control input-sm date-picker" 
                                                           placeholder="Start Date"
                                                           value="<?php echo $step2['start_date'][$i]; ?>"
                                                           >                                                      
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>End Date <span class="required-info">*</span></label>
                                                <div>
                                                    <input type="text" 
                                                           name="end_date[]" 
                                                           id="end-date-<?php echo $i; ?>" 
                                                           class="form-control input-sm date-picker" 
                                                           placeholder="End Date"
                                                           value="<?php echo $step2['end_date'][$i]; ?>"
                                                           >                                                      
                                                </div>
                                            </div>
                                        </div>		       					
                                    </div>		

                                    <div class="row">
                                        <div class="col-md-12 align-right">
                                            <a href="javascript:;" 
                                               class="btn green-haze add-product" 
                                               data-id="<?php echo $i; ?>">
                                                <i class="fa fa-plus"></i> Product
                                            </a>
                                            <?php if ($i != 0) {
                                                ?>
                                                <a href="javascript:;" 
                                                   class="btn red remove-product" 
                                                   data-id="<?php echo $i; ?>">
                                                    <i class="fa fa-minus"></i> Product
                                                </a>
                                                <?php
                                            }
                                            ?>

                                        </div>	
                                    </div>	
                                </div>

                                <div id="add-row">

                                </div>	
                                <?php
                            }
                        } else {
                            ?>
                            <div class="row-element" id="row-element-1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-left col-md-9">
                                                Product Partner
                                                <span class="required-info">*</span>
                                            </label>

                                            <select id="product-partner-1" name="product_partner[]" class="form-control input-select2 product-partner" data-id="1">
                                                <option value="0">--Choose Product Partner--</option>
                                                <?php
                                                if (sizeof($var['product_partner']) > 0) {
                                                    foreach ($var['product_partner'] as $data) {
                                                        ?>
                                                        <option value="<?php echo $data->pp_id; ?>">
                                                            <?php echo $data->product . " - " . $data->partner; ?>
                                                        </option>
                                                        <?php
                                                    }
                                                }
                                                ?>
                                            </select>
                                        </div>
                                    </div>	
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Product Price <span class="required-info">*</span></label>
                                                    <div>
                                                        <input readonly="readonly" type="text" name="product_price[]" id="product-price-1" class="form-control input-sm" placeholder="Product Price">                                                      
                                                    </div>
                                                </div>
                                            </div>	
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Selling <span class="required-info">*</span></label>
                                                    <div>
                                                        <input readonly="readonly" type="text" name="product_selling[]" id="product-selling-1" class="form-control input-sm" placeholder="Selling">                                                      
                                                    </div>
                                                </div>
                                            </div>	
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Discount <span class="required-info">*</span></label>
                                                    <div>
                                                        <input readonly="readonly" type="text" name="discount[]" id="discount-1" class="form-control input-sm" placeholder="Discount">                                                      
                                                    </div>
                                                </div>
                                            </div>	


                                        </div>	
                                    </div>			       					
                                </div>	

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Amount <span class="required-info">*</span></label>
                                                    <div>
                                                        <input type="text" name="amount[]" id="amount-1" class="form-control input-sm" placeholder="Amount">                                                      
                                                    </div>
                                                </div>
                                            </div>	
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Unit <span class="required-info">*</span></label>
                                                    <div>
                                                        <input type="text" name="unit[]" id="unit-1" class="form-control input-sm" placeholder="Unit">                                                      
                                                    </div>
                                                </div>
                                            </div>			       								
                                        </div>	
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Target <span class="required-info">*</span></label>
                                            <div>
                                                <input type="text" name="target[]" id="target-1" class="form-control input-sm" placeholder="Target">                                                      
                                            </div>
                                        </div>
                                    </div>		
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-left col-md-9">
                                                        Province
                                                        <span class="required-info">*</span>
                                                    </label>

                                                    <select id="province-1" name="province[]" class="form-control input-select2 province" data-id="1">
                                                        <option value="0">--Choose Province--</option>
                                                        <?php
                                                        if (sizeof($var['province']) > 0) {
                                                            foreach ($var['province'] as $data) {
                                                                ?>
                                                                <option value="<?php echo $data->id; ?>">
                                                                    <?php echo $data->province; ?>
                                                                </option>		
                                                                <?php
                                                            }
                                                        }
                                                        ?>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-left col-md-9">
                                                        City
                                                        <span class="required-info">*</span>
                                                    </label>			                                    				 						

                                                    <select disabled="disabled" id="city-1" name="city[]" class="form-control input-select2">
                                                        <option value="">--Choose City--</option>
                                                    </select>

                                                </div>
                                            </div>		
                                        </div>		
                                    </div>	
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Area <span class="required-info">*</span></label>
                                            <div>
                                                <input type="text" name="area[]" id="area-1" class="form-control input-sm" placeholder="Area">                                                      
                                            </div>
                                        </div>	
                                    </div>			       					
                                </div>	

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Start Date <span class="required-info">*</span></label>
                                            <div>
                                                <input type="text" name="start_date[]" id="start-date-1" class="form-control input-sm date-picker" placeholder="Start Date">                                                      
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>End Date <span class="required-info">*</span></label>
                                            <div>
                                                <input type="text" name="end_date[]" id="end-date-1" class="form-control input-sm date-picker" placeholder="End Date">                                                      
                                            </div>
                                        </div>
                                    </div>		       					
                                </div>		

                                <div class="row">
                                    <div class="col-md-12 align-right">
                                        <a href="javascript:;" class="btn green-haze add-product" data-id="1"><i class="fa fa-plus"></i> Product</a>
                                    </div>	
                                </div>	
                            </div>

                            <div id="add-row">

                            </div>	

                            <?php
                        }
                        ?>
                    </div>
                    <div class="col-md-3">
                        <div class="portlet box grey-cascade">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-edit"></i>Summaries </div>
                            </div>
                            <div class="portlet-body">
                                <div class="summaries">
                                    <div class="summaries-title">Advertiser</div>
                                    <div class="summaries-body">
                                        <?php
                                        $data_summaries = $this->session->get('data_summaries');
                                        echo $data_summaries['advertiser'];
                                        ?>
                                    </div>                                	
                                </div>
                                <div class="summaries">
                                    <div class="summaries-title">Brand</div>
                                    <div class="summaries-body">
                                        <?php
                                        echo $data_summaries['brand'];
                                        ?>	
                                    </div>                                	
                                </div>   
                                <div class="summaries">
                                    <div class="summaries-title">Sales</div>
                                    <div class="summaries-body">
                                        <?php
                                        echo $data_summaries['sales'];
                                        ?>	
                                    </div>                                	
                                </div> 
                                <div class="summaries">
                                    <div class="summaries-title">Campaign Name</div>
                                    <div class="summaries-body">
                                        <?php
                                        echo $data_summaries['campaign_name'];
                                        ?>	
                                    </div>                                	
                                </div>
                            </div>
                        </div>
                    </div>		                                        	
                </div>
                <div class="form-actions right" style="margin-top:20px;">    
                    <a href="<?php echo $this->url->get('quotation/step_1/' . $var['parent_id']); ?>" class="btn default">Cancel</a>
                        <!--<a href="<?php echo $this->url->get('quotation/step_2'); ?>" class="btn blue">
                        Next to Step 3 <i class="fa fa-chevron-right"></i> </a>
                    -->
                    <button type="submit" class="btn blue" id="btn-save-quotation">
                        Next to Step 3 <i class="fa fa-chevron-right"></i> </button>

                </div>
        </form>
    </div>
</div>