<div class="portlet light bordered">
    <?php
    $step_value = $this->session->get('step_value');
    $session1 = $step_value['step1'];
    $session1_length = sizeof($session1);
    echo $session1 ;
    ?>

    <?php echo $this->flash->output(); ?>
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="fa fa-bullhorn font-green-sharp"></i>
            <span class="caption-subject bold uppercase"> Quotation</span>
            <span class="caption-helper">create new quotation</span>
        </div>        
    </div>
    <div class="portlet-body form">

        <?php $this->partial('quotation/attribute/create/step'); ?>
        <form role="form" 
              method="post" 
              class="horizontal-form form-campaign"
              id="form-quotation" 
              enctype="multipart/form-data">
            <div class="form-body">            	
                <div class="row">
                    <div class="col-md-9">
                        <h3 class="form-section" style="margin-top: 0;">Quotation Info</h3>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-left col-md-9">
                                        Quotation Number 
                                        <span class="required-info">*</span>
                                    </label>
                                    <label class="col-right col-md-3">
                                        <i class="fa fa-question-circle fa-tooltip" 
                                           data-toggle="tooltip" 
                                           data-placement="top" 
                                           title="Advertiser / Client yang ingin melakukan campaign"
                                           value="<?php echo $var['dataquotation']->quotation_number; ?>"
                                           >
                                        </i>
                                    </label>					 							
                                    <input type="text" 
                                           id="quotation_number" 
                                           name="quotation_number" 
                                           class="form-control input-sm" 
                                           placeholder="Quotation Number"
                                           value="<?php
                                           if ($var['parent_id'] != "") {
                                               if ($session1_length != 0) {
                                                   $step = $this->session->get('step_value');
                                                   echo $step['step1']['quotation_number'];
                                               } else {
                                                   echo $var['dataquotationrev']->quotation_number;
                                               }
                                           } else {
                                               $step = $this->session->get('step_value');
                                               echo $step['step1']['quotation_number'];
                                           }
                                           ?>"
                                           >               
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-left col-md-9">
                                        Quotation Date 
                                        <span class="required-info">*</span>
                                    </label>
                                    <label class="col-right col-md-3">
                                        <i class="fa fa-question-circle fa-tooltip" 
                                           data-toggle="tooltip" 
                                           data-placement="top" 
                                           title="Advertiser / Client yang ingin melakukan campaign">

                                        </i>
                                    </label>					 							
                                    <input type="text" 
                                           id="quotation_date" 
                                           name="quotation_date" 
                                           class="form-control date-picker input-sm" 
                                           placeholder="Quotation Date"
                                           value="<?php
                                           if ($var['parent_id'] != "") {
                                               if ($session1_length != 0) {
                                                   $step = $this->session->get('step_value');
                                                   echo $step['step1']['quotation_date'];
                                               } else {
                                                   echo $var['dataquotationrev']->quotation_date;
                                               }
                                           } else {
                                               $step = $this->session->get('step_value');
                                               echo $step['step1']['quotation_date'];
                                           }
                                           ?>">
                                </div>
                            </div>		
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-left col-md-9">
                                        Advertiser / Client 
                                        <span class="required-info">*</span>
                                    </label>
                                    <label class="col-right col-md-3">
                                        <i class="fa fa-question-circle fa-tooltip" 
                                           data-toggle="tooltip" 
                                           data-placement="top" 
                                           title="Advertiser / Client yang ingin melakukan campaign">

                                        </i>
                                    </label>					 							
                                    <select id="client" name="client" class="form-control input-select2">
                                        <option value="">--Choose Advertiser--</option>
                                        <?php
                                        if (count($var['client'])) {
                                            foreach ($var['client'] as $client) {
                                                ?>
                                                <option value="<?php echo $client->client_id ?>"
                                                <?php
                                                if ($var['parent_id'] != "") {
                                                    if ($session1_length != 0) {
                                                        echo $client->client_id == $step['step1']['client'] ? "selected='selected'" : "";
                                                        ;
                                                    } else {
                                                        echo $client->client_id == $var['dataquotationrev']->advertiser_id ? "selected='selected'" : "";
                                                        ;
                                                    }
                                                } else {
                                                    echo $client->client_id == $step['step1']['client'] ? "selected='selected'" : "";
                                                    ;
                                                }
                                                ?>
                                                        >
                                                            <?php echo $client->client_name ?>
                                                </option>	  	
                                                <?php
                                            }
                                        }
                                        ?>	  
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-left col-md-9">
                                        Brand 
                                        <span class="required-info">*</span>
                                    </label>
                                    <label class="col-right col-md-3">
                                        <i class="fa fa-question-circle fa-tooltip" 
                                           data-toggle="tooltip" 
                                           data-placement="top" 
                                           title="Advertiser / Client yang ingin melakukan campaign">

                                        </i>
                                    </label>					 							
                    <!--<input type="text" id="brand" name="brand" class="form-control input-sm" placeholder="Brand">-->
                                    <select id="brand" name="brand" class="form-control input-select2">
                                        <option value="0">--Choose Brand--</option>
                                        <?php
                                        if (count($var['databrand'])) {
                                            foreach ($var['databrand'] as $brand) {
                                                ?>
                                                <option value="<?php echo $brand->brand_id ?>"
                                                <?php
                                                if ($var['parent_id'] != "") {
                                                    if ($session1_length != 0) {
                                                        echo $brand->brand_id == $step['step1']['brand'] ? "selected='selected'" : "";
                                                        ;
                                                    } else {
                                                        echo $brand->brand_id == $var['dataquotationrev']->brand_id ? "selected='selected'" : "";
                                                        ;
                                                    }
                                                } else {
                                                    echo $brand->brand_id == $step['step1']['brand'] ? "selected='selected'" : "";
                                                    ;
                                                }
                                                ?>
                                                        >
                                                            <?php echo $brand->brand_name ?>
                                                </option>	  	
                                                <?php
                                            }
                                        }
                                        ?>	                        
                                    </select>
                                </div>
                            </div>		
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-left col-md-9">
                                        Agency 
                                        <span class="required-info">*</span>
                                    </label>
                                    <label class="col-right col-md-3">
                                        <i class="fa fa-question-circle fa-tooltip" 
                                           data-toggle="tooltip" 
                                           data-placement="top" 
                                           title="Advertiser / Client yang ingin melakukan campaign">

                                        </i>
                                    </label>					 							
                                    <select id="advertiser" name="advertiser" class="form-control input-select2">
                                        <option value="">--Choose Advertiser--</option>
                                        <?php
                                        if (count($var['client'])) {
                                            foreach ($var['client'] as $client) {
                                                ?>
                                                <option value="<?php echo $client->client_id ?>"
                                                <?php
                                                if ($var['parent_id'] != "") {
                                                    if ($session1_length != 0) {
                                                        echo $client->client_id == $step['step1']['advertiser'] ? "selected='selected'" : "";
                                                        ;
                                                    } else {
                                                        echo $client->client_id == $var['dataquotationrev']->agency_id ? "selected='selected'" : "";
                                                        ;
                                                    }
                                                } else {
                                                    echo $client->client_id == $step['step1']['advertiser'] ? "selected='selected'" : "";
                                                    ;
                                                }
                                                ?>
                                                        >
                                                            <?php echo $client->client_name ?>
                                                </option>	  	
                                                <?php
                                            }
                                        }
                                        ?>	  		                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-left col-md-9">
                                        Payment Type 
                                        <span class="required-info">*</span>
                                    </label>
                                    <label class="col-right col-md-3">
                                        <i class="fa fa-question-circle fa-tooltip" 
                                           data-toggle="tooltip" 
                                           data-placement="top" 
                                           title="Advertiser / Client yang ingin melakukan campaign">

                                        </i>
                                    </label>					 							
                                    <select id="payment_type" name="payment_type" class="form-control input-select2">
                                        <option value="">--Choose Advertiser--</option>
                                        <?php
                                        if (count($var['payment_type'])) {
                                            foreach ($var['payment_type'] as $payment_type) {
                                                ?>
                                                <option value="<?php echo $payment_type->payment_id ?>"
                                                <?php
                                                if ($var['parent_id'] != "") {
                                                    if ($session1_length != 0) {
                                                        echo $payment_type->payment_id == $step['step1']['payment_type'] ? "selected='selected'" : "";
                                                        ;
                                                    } else {
                                                        echo $payment_type->payment_id == $var['dataquotationrev']->payment_type ? "selected='selected'" : "";
                                                        ;
                                                    }
                                                } else {
                                                    echo $payment_type->payment_id == $step['step1']['payment_type'] ? "selected='selected'" : "";
                                                    ;
                                                }
                                                ?>
                                                        >
                                                            <?php echo $payment_type->name ?>
                                                </option>	  	
                                                <?php
                                            }
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>		
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-left col-md-9">
                                        Campaign Name 
                                        <span class="required-info">*</span></label>
                                    <label class="col-right col-md-3">
                                        <i class="fa fa-question-circle fa-tooltip" 
                                           data-toggle="tooltip" 
                                           data-placement="top" 
                                           title="Advertiser / Client yang ingin melakukan campaign">

                                        </i>
                                    </label>					 							
                                    <input type="text" 
                                           id="campaign-name" 
                                           name="campaign_name" 
                                           class="form-control input-sm" 
                                           placeholder="Campaign Name"
                                           value="<?php
                                           if ($var['parent_id'] != "") {
                                               if ($session1_length != 0) {
                                                   $step = $this->session->get('step_value');
                                                   echo $step['step1']['campaign_name'];
                                               } else {
                                                   echo $var['dataquotationrev']->campaign_name;
                                               }
                                           } else {
                                               $step = $this->session->get('step_value');
                                               echo $step['step1']['campaign_name'];
                                           }
                                           ?>"
                                           >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-left col-md-9">
                                        Sales 
                                        <span class="required-info">*</span></label>
                                    <label class="col-right col-md-3">
                                        <i class="fa fa-question-circle fa-tooltip" 
                                           data-toggle="tooltip" 
                                           data-placement="top" 
                                           title="Sales yang bertanggung jawab terhadap campaign">

                                        </i>
                                    </label>					 							
                                    <select id="sales" name="sales" class="form-control input-select2">
                                        <option value="0">--Choose Sales--</option>
                                        <?php
                                        if (count($var['user'])) {
                                            foreach ($var['user'] as $user) {
                                                ?>
                                                <option value="<?php echo $user->user_id ?>"
                                                <?php
                                                if ($var['parent_id'] != "") {
                                                    if ($session1_length != 0) {
                                                        echo $user->user_id == $step['step1']['sales'] ? "selected='selected'" : "";
                                                        ;
                                                    } else {
                                                        echo $user->user_id == $var['dataquotationrev']->created_by ? "selected='selected'" : "";
                                                        ;
                                                    }
                                                } else {
                                                    echo $user->user_id == $step['step1']['sales'] ? "selected='selected'" : "";
                                                    ;
                                                }
                                                ?>
                                                        >
                                                            <?php echo $user->fullname; ?>
                                                </option>	  	
                                                <?php
                                            }
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-left col-md-9">
                                        Product Category 
                                        <span class="required-info">*</span>
                                    </label>
                                    <label class="col-right col-md-3">
                                        <i class="fa fa-question-circle fa-tooltip" 
                                           data-toggle="tooltip" 
                                           data-placement="top" 
                                           title="Advertiser / Client yang ingin melakukan campaign">

                                        </i>
                                    </label>					 							
                                    <select id="product-category" name="product_category" class="form-control input-select2">
                                        <option value="">--Choose Product Category--</option>
                                        <option value="1">Arts & Entertainment</option>
                                        <option value="2">Automotive</option>
                                        <option value="3">Business</option>
                                        <option value="4">Careers</option>		                        
                                    </select>
                                </div>
                            </div>		            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-left col-md-9">
                                        Product Sub Category 
                                        <span class="required-info">*</span>
                                    </label>
                                    <label class="col-right col-md-3">
                                        <i class="fa fa-question-circle fa-tooltip" 
                                           data-toggle="tooltip" 
                                           data-placement="top" 
                                           title="Sales yang bertanggung jawab terhadap campaign">

                                        </i>
                                    </label>					 							
                                    <select id="product-sub-category" name="product_sub_category" class="form-control input-select2">
                                        <option value="">--Choose Product Sub Category--</option>
                                        <option value="1">Fine Art</option>
                                        <option value="2">Humor</option>
                                        <option value="3">Movie</option>
                                        <option value="4">Music</option>		                        
                                    </select>
                                </div>
                            </div>	
                        </div>
                       
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-left col-md-9">
                                        Start Date 
                                        <span class="required-info">*</span>
                                    </label>
                                    <label class="col-right col-md-3">
                                        <i class="fa fa-question-circle fa-tooltip" 
                                           data-toggle="tooltip" 
                                           data-placement="top" 
                                           title="Advertiser / Client yang ingin melakukan campaign">

                                        </i>
                                    </label>					 							
                                    <input type="text" 
                                           id="start-date" 
                                           name="start_date" 
                                           class="form-control input-sm date-picker" 
                                           placeholder="Start date"
                                           value="<?php echo $step['step1']['start_date']; ?>">
                                </div>
                            </div>		            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-left col-md-9">
                                        End Date 
                                        <span class="required-info">*</span>
                                    </label>
                                    <label class="col-right col-md-3">
                                        <i class="fa fa-question-circle fa-tooltip" 
                                           data-toggle="tooltip" 
                                           data-placement="top" 
                                           title="Advertiser / Client yang ingin melakukan campaign">

                                        </i>
                                    </label>					 							
                                    <input type="text" id="end-date" 
                                           name="end_date" 
                                           class="form-control input-sm date-picker" 
                                           placeholder="End date"
                                           value="<?php echo $step['step1']['end_date']; ?>">
                                </div>
                            </div>		   		       			
                        </div>
                        -->
                        <h3 class="form-section">Additional Info</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-horizontal">
                                    <?php
                                    if (sizeof($this->session->get('file_mo')) > 0) {
                                        $sess_file = $this->session->get('file_mo');
                                        for ($a = 0; $a < sizeof($sess_file); $a++) {
                                            ?>
                                            <div class="form-group file-upload" id="file-upload-<?php echo $a ?>">
                                                <label class="control-label col-md-4">File Media Order (MO)<br>
                                                    <span style="font-size:11px; text-align: right;">
                                                        File Exist : <?php echo $sess_file[$a]; ?>
                                                    </span>
                                                </label>
                                                <div class="col-md-4">
                                                    <form method="post" enctype="multipart/form-data" action="">
                                                        <input type="file" 
                                                               name="file[]" 
                                                               id="filename-<?php echo $a ?>" 
                                                               class="form-control"
                                                               value="<?php //echo $var['data_mo'][$a]->name_file;  ?>"
                                                               >

                                                        </div>
                                                        <div class="col-md-4">
                                                            <button class="btn green-haze add-file" type="button" data-id="<?php echo $a ?>"><i class="fa fa-plus"></i></button>
                                                            <?php if ($a != 0) {
                                                                ?>
                                                                <button class="btn red-mint remove-file" 
                                                                        type="button" 
                                                                        data-id="<?php echo $a ?>">
                                                                    <i class="fa fa-minus"></i></button>

                                                            <?php }
                                                            ?>
                                                        </div>
                                                </div>

                                                <?php
                                            }
                                            ?>

                                            <div id="row-file-upload">

                                            </div>

                                            <?php
                                        } else {
                                            ?>
                                            <div class="form-group file-upload" id="file-upload-1">
                                                <label class="control-label col-md-4">File Media Order (MO)<br>
                                                    <span style="font-size:11px; text-align: right;">
                                                        File Exist : <?php //echo $var['data_mo'][0]->name_file;        ?>
                                                    </span>
                                                </label>
                                                <div class="col-md-4">
                                                    <form method="post" enctype="multipart/form-data" action="">
                                                        <input type="file" name="file[]" id="filename-1" class="form-control">

                                                        </div>
                                                        <div class="col-md-4">
                                                            <button class="btn green-haze add-file" type="button" data-id="1"><i class="fa fa-plus"></i></button>
                                                        </div>
                                                </div>

                                                <div id="row-file-upload">

                                                </div>
                                            <?php }
                                            ?>


                                        </div>	
                                    </div>	
                                </div>	
                            </div>   
                            <div class="col-md-3">
                                <?php
                                $data_summaries = $this->session->get('data_summaries');
                                ?>
                                <div class="portlet box grey-cascade">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-edit"></i>Summaries </div>

                                    </div>
                                    <div class="portlet-body">
                                        <div class="summaries">
                                            <div class="summaries-title">Advertiser</div>
                                            <div class="summaries-body">
                                                <?php
                                                if ($var['parent_id'] != "") {
                                                    if ($session1_length != 0) {
                                                        echo $data_summaries['advertiser'];
                                                    } else {
                                                        $advertiser_id = $var['dataquotationrev']->advertiser_id;
                                                        $advertiser_name = Client::findFirst("client_id = $advertiser_id");
                                                        echo $advertiser_name->client_name;
                                                    }
                                                } else if ($session1_length != 0) {
                                                    echo $data_summaries['advertiser'];
                                                } else {
                                                    echo " - ";
                                                }
                                                ?>
                                            </div>                                	
                                        </div>
                                        <div class="summaries">
                                            <div class="summaries-title">Brand</div>
                                            <div class="summaries-body">
                                                <?php
                                                if ($var['parent_id'] != "") {
                                                    if ($session1_length != 0) {
                                                        echo $data_summaries['brand'];
                                                    } else {
                                                        $brand_id = $var['dataquotationrev']->brand_id;
                                                        $brand_name = Brand::findFirst("brand_id = $brand_id");
                                                        echo $brand_name->brand_name;
                                                    }
                                                } else if ($session1_length != 0) {
                                                    echo $data_summaries['brand'];
                                                } else {
                                                    echo " - ";
                                                }
                                                ?>	
                                            </div>                                	
                                        </div>   
                                        <div class="summaries">
                                            <div class="summaries-title">Sales</div>
                                            <div class="summaries-body">
                                                <?php
                                                if ($var['parent_id'] != "") {
                                                    if ($session1_length != 0) {
                                                        echo $data_summaries['sales'];
                                                    } else {
                                                        $sales_id = $var['dataquotationrev']->created_by;
                                                        $sales_name = UsersErp::findFirst("user_id = $sales_id");
                                                        echo $sales_name->fullname;
                                                    }
                                                } else if ($session1_length != 0) {
                                                    echo $data_summaries['sales'];
                                                } else {
                                                    echo " - ";
                                                }
                                                ?>
                                            </div>                                	
                                        </div> 
                                        <div class="summaries">
                                            <div class="summaries-title">Campaign Name</div>
                                            <div class="summaries-body">
                                                <?php
                                                if ($var['parent_id'] != "") {
                                                    if ($session1_length != 0) {
                                                        echo $data_summaries['campaign_name'];
                                                    } else {
                                                        echo $var['dataquotationrev']->campaign_name;
                                                    }
                                                } else if ($session1_length != 0) {
                                                    echo $data_summaries['campaign_name'];
                                                } else {
                                                    echo " - ";
                                                }
                                                ?>
                                            </div>                                	
                                        </div>     
                                        <!--<div class="summaries">
                                            <div class="summaries-title">Duration</div>
                                            <div class="summaries-body">
                                        <?php
                                        if ($this->session->get('step_value') != 0) {
                                            //$data_summaries = $this->session->get('data_summaries');
                                            echo $data_summaries['duration'];
                                        } else {
                                            echo " - ";
                                        }
                                        ?>
                                            </div>                                	
                                        </div>-->                                                                                              
                                    </div>
                                </div>
                            </div>		       		
                        </div>		        	       
                    </div>
                    <div class="form-actions right">
                        <a href="<?php echo $this->url->get('quotation'); ?>" class="btn default">Cancel</a>
                        <!--<a href="<?php echo $this->url->get('campaign/step_2'); ?>" class="btn blue">
                            Next to Step 2 <i class="fa fa-chevron-right"></i> </a>-->
                        <button type="button" class="btn blue" id="btn-save-quotation">
                            Next to Step 2 <i class="fa fa-chevron-right"></i> </button>

                    </div>
                    </form>
                </div>
            </div> 