/*html, body, 
	.main-content {
	height: 100%;
}*/

.panel,
.input-group,
.form-control,
.btn,
.img-square,
.modal-content {
	border-radius: 0;
}

.panel.panel-card,
.vcard:hover {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)!important
}

.product-header {
	/*border-left: 5px solid #4EBAEA;*/
	margin-bottom: 20px;
}

.imx-blue {
	color: rgba(97,189,239,1);
}

.imx-red {
	color: rgba(241,44,33,1);
}

.imx-grey {
	color: rgba(123,120,121,1);
}

.salesforce-blue {
	color: rgba(9,154,214,1);
}

/*NEON Override*/
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_length,
.page-container .sidebar-menu .logo-env > div.sidebar-mobile-menu a,
.page-body .select2-container .select2-choice {
	border-radius: 0;
}

.dataTables_wrapper .dataTables_filter > label {
	width: 100%;
}

.dataTables_wrapper .dataTables_filter > label input {
	border-radius: 0;
	width: 90%;
}

.vcard {
	/*padding-right: 15px;*/
	/*padding-left: 15px;*/
	background-color: rgba(238,238,238,.33);
	padding: 15px;
	margin-bottom: 15px;
}